#
# Thanks for visiting this project
#
#   Author:
#       shijian-wow@github, https://github.com/shijian-wow
#
#   Details:
#       This project made with Love by shijian-wow@github, if you want to see more
#       projects which those made by me, check out https://github.com/shijian-wow
#
#   License:
#       This project is licensed under MIT license, and here is the license content:
#   
#           MIT License
#       
#           Copyright (c) 2024 shijian-wow
#           
#           Permission is hereby granted, free of charge, to any person obtaining a copy
#           of this software and associated documentation files (the "Software"), to deal
#           in the Software without restriction, including without limitation the rights
#           to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
#           copies of the Software, and to permit persons to whom the Software is
#           furnished to do so, subject to the following conditions:
#           
#           The above copyright notice and this permission notice shall be included in all
#           copies or substantial portions of the Software.
#           
#           THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
#           IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#           FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
#           AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#           LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
#           OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
#           SOFTWARE.
#

#
# This file lists required Python libraries and their versions for the project.
# Use one of the following commands to install the listed packages:
#
#   (If you prefer using Makefile)
#   $ make install-deps
#   
#   (On Windows systems)
#   $ pip install -r requirements.txt
#   
#   (On Linux systems)
#   $ pip3 install -r requirements.txt
#
pygame
chess
click
